* {
  margin: 0px;
  padding: 0px;
}

html {
  width: 100%;
  display: block;
}


body {
  width: 75%;
  display: block;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
option {
  border-color: white;
  color: white;
  border: none;
  outline: none;
}

input[type=text] {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-color: #5fae13;
  padding-left: 5px;
}

select, button {
  color: white;
  border-style: solid;
  border-color: white;
  background-color: #5fae13;
}

button[id="add"] {
}
option {
  width: 200px;
}

button {
  width: 228px;
}


.nav {
  background-color: white;
  width: 100%;
  height: 50px;
  margin: 5px;
  margin-bottom: 25px;
  display: block;
}

.ss {
  margin-bottom: 100px;
}

.spc {
  margin-top: 50px;
}

.main {
  display: block;
  width: 100%;
}

.side {
  display: inline;
  width: 20%;
  background-color: white;
  float: left;
}

.lista li {
  display: block;
  margin-left: 10px;
}

#links ul li {
  display: block;
}

.lista p {
  display: block;
}

.lista {
  margin: auto;
}

#links {
  width: 80%;
  margin: auto;
  padding: 10px;
}

a {
  text-decoration: none;
}

.turnos {
  display: none;
}

.cursos {
  display: none;
}

.niveis {
  display: none;
}

.disciplinas {
  display: none;
}

.content {
  width: 78%;
  margin-left: 2%;
  float: left;
}

#pesquisa {
  float: right;
  display: block;
}

#pesquisa input {
  width: 300px;
  display: block;
}

.top {
  margin-top: 40px;
}

#menu li {
  display: inline;
}

#menu {
  margin: auto;
}

#menu-principal ul {
  display: inline;
  list-style-type: none;
}

#menu-principal li {
  display: inline;
}

#adicionar {
  float: right;
}

#nova-categoria {
  display: none;
}

#cat {
  display: none;
}

.testes {
  list-style-type: none;
}

.tab {
  padding-left: 25px;
}

* {
  font-family: Sans-Serif;
}

#links a {
  color: green;
}

table {
  table-layout: fixed;
}

.botao {
  width: 100px;
  float: right;
}

.sub-menu li {
  padding-right: 25px;
}

.username {
  float: right;
}

.username li {
  list-style-type:none;
  display: inline;
}

#add {
  width: 30px;
}

.line {
  height: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: gray;
  border: 0;
  background-color: #5fae13
}

.slim-line {
  height: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: gray;
  border: 0;
  background-color: #5fae13
}

.avaliacao {
  display: none;
  width: 94%;
}

.tabela-de-avaliacoes {
  width: 100%;
}

.tupla-de-avaliacao {
  width: 100%;
}

.p40 {
  width: 40%;
}

.p10 {
  width: 10%;
}

.text-center {
  text-align: center;
}

.p20 {
  width: 20%;
}

.p100 {
  width: 100%;
}

.text-right {
  text-align: right;
}

.lista {
  list-style-type: none;
}


.p30 {
  width: 30%;
}

.px30 {
  width: 30px;
}
